<!DOCTYPE html>
<html lang="en">
<head>
	<title>Proyecto CIMSI</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	<header>
        <div class="navbar">
            <a href="/">Inicio</a>
            <a class="active">Noticias</a>
        </div>
    </header>

    <div class="noticias">
        {% for noticia in tabla: %}

        <div class="noticia">
            <img class="notimg" src="{{ noticia.photo }}">
            <div class="notdetails">
            <h3 class="nottitulo">{{ noticia.title }}</h3>
            <div class="notdescrip">{{ noticia.description }}</div>
            <br>
            <a class="noturl" href="{{ noticia.url }}">Consulte la url para más información </a>
            </div>
        </div>
    
        {% endfor %}
    </div>
        
    
</body>
</html>